In [21]:
import pandas as pd
import datetime

In [16]:
df = pd.read_csv("cuanto.csv")
df['Time'] = pd.to_datetime(df['Time']).dt.date

In [55]:
week1 = set(df[(df['Time'] > datetime.date(2019,4,28)) & (df['Time'] <= datetime.date(2019,5,5))]['User id'].unique())
week2 = set(df[(df['Time'] > datetime.date(2019,5,5)) & (df['Time'] <= datetime.date(2019,5,12))]['User id'].unique())
week3 = set(df[(df['Time'] > datetime.date(2019,5,12)) & (df['Time'] <= datetime.date(2019,5,19))]['User id'].unique())
week4 = set(df[(df['Time'] > datetime.date(2019,5,19)) & (df['Time'] <= datetime.date(2019,5,26))]['User id'].unique())
week5 = set(df[(df['Time'] > datetime.date(2019,5,26))]['User id'].unique())

array([2484, 2089, 2552, 1213, 2275, 2215, 1261, 2556, 1324, 1740, 1310,
       1765, 2200, 2035, 2182, 2664, 2635, 2170, 2504, 2671, 1404, 2384,
       2415, 1815, 1826, 2621, 2710, 1327, 2355, 2167, 1671, 1872, 1186,
       2373, 2399, 1865, 2188, 2203, 1238, 2529, 2661, 1632, 2677, 2391,
       2672, 2016, 2697, 2489, 1192, 2478, 1909, 2551, 2424, 2719, 2117,
       2721, 2681, 1236, 1204, 1415, 1911, 2620, 1217])

In [31]:
week1 = df[(df['Time'] > datetime.date(2019,5,12)) & (df['Time'] <= datetime.date(2019,5,19))]['User id'].unique()

In [56]:
print len(week1.intersection(week2))/float(len(week1))
print len(set(week2).intersection(set(week3)))/float(len(week2))
print len(set(week3).intersection(set(week4)))/float(len(week3))
print len(set(week4).intersection(set(week5)))/float(len(week4))

0.421875
0.584905660377
0.561643835616
0.428571428571

In [64]:
df.groupby(['User id']).max().sort_values('Time')[:]

               Time  Cents
User id
750      2018-11-29   4200
1244     2018-11-29  13900
1245     2018-11-29  16000
1241     2018-11-29   8500
1243     2018-11-29   9600
1242     2018-12-07  19000
1206     2018-12-15   1530
494      2018-12-16   7200
895      2018-12-16   1200
874      2018-12-16   1400
924      2019-01-18   2800
1203     2019-01-30   2500
1201     2019-01-31   5000
1300     2019-02-06    100
1379     2019-02-12    100
1476     2019-02-15    100
1501     2019-02-17   3302
1521     2019-02-19   2500
1556     2019-02-20    110
1575     2019-02-21    200
1249     2019-02-22  11500
1193     2019-02-22  96000
1569     2019-02-23    200
1579     2019-02-27    290
1630     2019-02-27   3500
1627     2019-02-27    500
1512     2019-03-02    100
1371     2019-03-06    100
1694     2019-03-08    500
1325     2019-03-11  31100
...             ...    ...
2677     2019-05-29    350
2697     2019-05-30   8800
2710     2019-05-30   1000
2621     2019-05-30    100
2672     2019-05-30  10100
1327     2019-05-30  90717
2489     2019-05-30   7500
1765     2019-05-30   8000
1815     2019-05-30  59456
1192     2019-05-30  11998
1826     2019-05-30  20000
2551     2019-05-30    500
1909     2019-05-30  62400
2016     2019-05-30  22000
1324     2019-05-30  77750
2089     2019-05-30  16050
1238     2019-05-30   9000
2424     2019-05-30    500
2478     2019-05-30   7255
1261     2019-05-30  10000
1217     2019-05-30   9685
1671     2019-05-30   9600
1236     2019-05-31  46599
2681     2019-05-31   1000
2719     2019-05-31   7800
2203     2019-05-31   7579
2215     2019-05-31   7000
2484     2019-05-31  24700
2117     2019-05-31  15800
2721     2019-05-31   1000

[265 rows x 2 columns]

In [66]:
len(set(df[(df['Time'] < datetime.date(2019,4,30))]['User id'].unique()))

179